<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="institution">
      <h2 data-cy="institutionDetailsHeading"><span jhiTranslate="lavidbApp.institution.detail.title">Institution</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ institution.id }}</span>
        </dd>
        <dt><span jhiTranslate="lavidbApp.institution.name">Name</span></dt>
        <dd>
          <span>{{ institution.name }}</span>
        </dd>
        <dt><span jhiTranslate="lavidbApp.institution.department">Department</span></dt>
        <dd>
          <span>{{ institution.department }}</span>
        </dd>
        <dt><span jhiTranslate="lavidbApp.institution.hash">Hash</span></dt>
        <dd>
          <span>{{ institution.hash }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/institution', institution.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
